@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    margin: 0;
    background-color: #1B244A;
    color: white;
    font-family: "Verdana", sans-serif;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px    
}

.score-box {
    background-color: black;
    width: 150px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-family: "Orbitron", sans-serif;
    color: #F94F6D;
    font-size: 80px;
    margin: 0;
}

button {
    background: none;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}